.header{
    text-align:center;
    color:royalblue;
}

.body {
    margin: 0px;
    background-color: black;
    opacity:0.95;
}
p{
    color: white;
}

.logo{
    text-align:center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    
}

    .logo span {
        color: white;
        text-transform: uppercase;
        display: block;
        
    }

.text1{
    margin-left:50px;
    margin-right:50px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #0002;
    position: relative;
    animation: text 3s 1;


}
.text2 {
    font-size: 60px;
    color: #6ab04c;
    
    animation: text 3s 1;
}

@keyframes text{
    0%{
        color:black;
        margin-bottom:-40px;
    }
    30%{
        letter-spacing:25px;
        margin-bottom:-40px;

    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

.block1-img{
    float:left;
    margin:90px;
   

}

.block1{
    
    min-height:880px;
}

.block1-text{
    padding-top:90px;
}


.block2{
    min-height:685px;
   
}

.block2-img {
    margin-left:10px;
    margin-right:10px;
    margin-top: 30px;
    
}

.block2-text{
    max-width:600px;
  /*  margin:10px;*/
    padding-top:10px;
    
}


.block3 {
    min-height: 650px;
}

.block3-img {
    float: left;
    margin: 20px;
    margin-top:0px;
}

.block3-text {
    padding-top: 60px;
}

.block4{
    min-height: 645px;
    
}

.block4-img {
    margin-left: 10px;
    margin-right: 10px;
    float:right;
   
}

.block4-text {
    margin:20px;
    padding-top: 60px;
}


.block5 {
    min-height:650px;
}

.block5-img {
    float:left;
    margin:20px;
    margin-top: 0px;
    max-width:900px;
    width:100%;
    min-height:650px;
}

.block5-text {
    padding-top: 60px;
    
    

}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
